body{
    background-color: #222222;
    background-image: url("https://images.alphacoders.com/914/thumb-1920-914152.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.Body{
    position: absolute;
    background-color: wheat;
    opacity: 0.95;
    width: 65%;
    height: 1500px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%)
}

.newsBlockImg1{
    position: absolute;
    width: 850px;
    height: 400px;
    background-image: url(https://img1.ak.crunchyroll.com/i/spire1/6d62ea5304283392aa88426274d94f051606554805_main.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    background-color: azure;
    margin: 50px;

    top: 5%;
    left: 25%;

}

.containerB{
    position: absolute;
    width: 850px;
    height: 400px;
    background-color: blueviolet;
    top: 6.3%;
    
}


