body{
    background-color: #e7e4e1;
    /*background-image: url("https://images.alphacoders.com/914/thumb-1920-914152.png");
    */background-repeat: no-repeat;
    background-attachment:fixed;

}

.body{
    position: relative;
    background-color: blue;
    transform: translate(-50%, 0);
    width: 1280px;
    height: 1920px;
    left: 50%;

    z-index: -1;
    opacity: 0.2;

}

.container{
    position: relative;
    background-color: bisque;
    transform: translate(-50%, 0);

    width: 900px;
    height: 95%;
    top: 1%;
    left: 60%;
    

}