*{
    text-decoration: none;
}

.header{
    position: sticky;
    top: 0;
    background-color: #1f1f1f;
    height: 73px;
    z-index: 1;

}

.headerContainer{
    position: relative;
    padding: 4px;
    width: 1196px;
    height: 65px;
    background-color: #1f1f1f;
    top: 0%;
    
    left: 50%;
    transform: translate(-50%, 0%); 
}

.headerLogo{
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY0IiBoZWlnaHQ9IjM2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNTguODU5IDE4YzAtNS44ODkgMi45NTQtMTAuNiA4LjI4MS0xMC42IDUuMzI4IDAgOC4yODEgNC43MTEgOC4yODEgMTAuNiAwIDUuODktMi45NTQgMTAuNi04LjI4IDEwLjYtNS4zMjggMC04LjI4Mi00LjcxLTguMjgyLTEwLjZabTguMjgxIDcuNjZjMi4wNzIgMCAyLjk1NC0zLjUzNCAyLjk1NC03LjY1MiAwLTQuMTItLjg4OS03LjY1Mi0yLjk1NC03LjY1Mi0yLjA2NSAwLTIuOTU0IDMuNTMzLTIuOTU0IDcuNjUyLS4wMDcgNC4xMTguODgyIDcuNjUyIDIuOTU0IDcuNjUyWk0zLjg0MyA3Ljd2NS41OTZoLjI5NEw3Ljk4IDcuN2g1LjMybC03LjA5OCA2LjQ3NC4yOTQuMjkzTDE5LjUxIDcuNjkzdjQuNzExTDcuOTczIDE2LjUyM3YuMjkybDExLjUzNy0xLjAyOHY0LjQxOUw3Ljk3MyAxOS4xNzh2LjI5M2wxMS41MzcgNC4xMTh2NC43MTJMNi40OTYgMjEuNTI2bC0uMjk0LjI5MyA3LjA5OCA2LjQ3NEg3Ljk4bC0zLjg0My01LjU5NmgtLjI5NHY1LjU5NkgwVjcuNjg2aDMuODQzVjcuN1ptMTkuMjMgMEgyOC4xbC0uMjk0IDEyLjM2M2guMjk0TDM0LjAxNSA3LjdoNC40Mzh2MjAuNjA4aC01LjAyNmwuMjk0LTEyLjM2NGgtLjI5NEwyNy41MSAyOC4zMDloLTQuNDM4VjcuN1ptMjMuOTU1IDBoLTUuMDI2djIwLjYwOGg1LjAyNnYtOS4xM2g0LjEzN3Y5LjEzaDUuMDI2VjcuN2gtNS4wMjZ2Ny45NTJoLTQuMTM3VjcuN1ptNDUuMjUgMGgtMTQuMTl2MjAuNjA4aDUuMDI3VjExLjIzM2g0LjEzN3YxNy4wNzVoNS4wMjZWNy43Wm0yLjY2IDEwLjNjMC01Ljg4OSAyLjk1NC0xMC42IDguMjgyLTEwLjYgNS4zMiAwIDguMjgxIDQuNzExIDguMjgxIDEwLjYgMCA1Ljg5LTIuOTU0IDEwLjYtOC4yODEgMTAuNi01LjMyIDAtOC4yODItNC43MS04LjI4Mi0xMC42Wm04LjI4MiA3LjY2YzIuMDcyIDAgMi45NTQtMy41MzQgMi45NTQtNy42NTIgMC00LjEyLS44ODktNy42NTItMi45NTQtNy42NTItMi4wNzIgMC0yLjk1NCAzLjUzMy0yLjk1NCA3LjY1MiAwIDQuMTE4Ljg4MiA3LjY1MiAyLjk1NCA3LjY1MlpNMTE5LjE4NyA3LjdoLTUuMDI2djIwLjYwOGg0LjQzOGw1LjkxNi0xMi4zNjRoLjI5NGwtLjI5NCAxMi4zNjRoNS4wMjZWNy43aC00LjQzOGwtNS45MTYgMTIuMzYzaC0uMjk0bC4yOTQtMTIuMzYzWm0yMy42NjkgMTMuNTQxIDQuNzMyLjU4NWMtLjg4OSA0LjEyLTIuOTU0IDYuNzc0LTcuMzY0IDYuNzc0LTUuMzIgMC04LjAxNi00LjcxLTguMDE2LTEwLjYgMC01Ljg4OSAyLjY4OS0xMC42IDguMDE2LTEwLjYgNC4zMTcgMCA2LjQ3NSAyLjY0OSA3LjM2NCA2LjQ3NWwtNC43MzIgMS4xNzdjLS4yOTQtMi4wNjMtMS4xNTUtNC43MS0yLjYzMi00LjcxLTEuNzcxIDAtMi42ODkgMy41MzMtMi42ODkgNy42NTEgMCA0LjA5LjkxOCA3LjY1MiAyLjY4OSA3LjY1MiAxLjQ0OS4wMTUgMi4zMy0yLjM0MSAyLjYzMi00LjQwNFptMTEuODMtMTMuNTRoLTQuNzMydjIwLjYwN2g0LjczMnYtOS4xM2guMjk0bDMuNTQ5IDkuMTNIMTY0bC01LjE3Ny0xMC42TDE2My44NDkgNy43aC01LjAyNmwtMy44NDMgOS4xM2gtLjI5NFY3LjdaIiBmaWxsPSIjZmZmIi8+PC9zdmc+Cg==');
    background-size: cover;
    width: 160px;
    height: 35px;
    
    transform: translate(10%, 42%); 
    cursor: pointer;
}

.mainHeaderContainer{
    position: absolute;
    background-color: #1f1f1f;

    left: 250px;
    top: 0px;

    width: 960px;
    height: 73px;
}

.headerButtonContainer{
    background-color: rgb(255, 197, 5);
    width: 350px;
    height: 73px;

   
}

.headerButtonOnlineCinema{
    position:absolute;
    background-color: #1f1f1f;
    width: 177px;
    height: 73px;
    left: -1px;
    
}

.headerOnlineA{
    position: absolute;
    width: 155px;
    height: 30px;
    left: 87.5px;
    top: 41.5px;
    transform: translate(-50%, -50%); 
    padding: 10px;
   
    background-color: #1f1f1f;
    color: rgba(255,255,255,.7);

    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    
}

.headerOnlineA:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;

}


.headerButtonSetupTV{
    position:absolute;
    background-color: #1f1f1f;
    width: 176px;
    height: 73px;
    left: 175px;
}

.headerSetupA{
    position: absolute;
    width: 155px;
    height: 30px;
    left: 87.5px;
    top: 41.5px;
    transform: translate(-50%, -50%); 
    padding: 10px;
   
    background-color: #1f1f1f;
    color: rgba(255,255,255,.7);

    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;  
}


.headerSetupA:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.headerSearch{
    position: absolute;
    background-color: #1f1f1f;
    right: 252px;
    
    width: 350px;
    height: 73px;

    top: 0px;
}

.headerSearchContainer{
    position: relative;
    width: 340px;
    height: 33px;
    background-color: #1f1f1f;

    top: 16px;
    left: 5px;
}

.headerSerchInput{
    width: 98%;
    height: 100%;
    border: none;
    border-radius: 8px;

    padding-left: 15px;
}

.headerSignUp{
    position: absolute;
    background-color: #1f1f1f;
    width: 175px;
    height: 65px;

    right: 10px;
    top: 0px;
}

.headerButtonSignUp{
    position: relative;
    background-color: #1f1f1f;
    width: 60px;
    height: 100%;

    left: 115px;
}

.headerSignUpA{
    position: relative;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    color: rgba(255,255,255,.7);
    border: none;
    outline: none;
    background-color: unset;

    top: 20px;
}

.headerSignUpA:hover{
    color: rgb(255, 255, 255);
}

.headerButtonYandex{
    position: absolute;

    background-image: url('https://www.iguides.ru/upload/iblock/64c/64c27904d1aced823f5f128b505444f8.jpg');
    background-size: cover;
    background-position: center;

    width: 100px;
    height: 42px;

    top: 15px;
    left: 5px;
    cursor: pointer;

    border-radius: 5px;
    transition: 0s;
}

.headerButtonYandex:hover{
    width: 105px;
    height: 45px;

    top: 13px;
    left: 3px;

}